body
   {
  	background-image: url('https://wallpapers.com/images/hd/profile-picture-spirit-knight-k2ar09ggd5uvxwi1.jpg');
  	background-size: cover;
  	background-position: center;
  	color: white;
  	border: 2px solid orange;
  	padding: 10px;
  	background-attachment: scroll;
    }
    

